{% extends 'base.html.twig' %}

{% block title %}ReponseSection index{% endblock %}

{% block body %}
    <h1>ReponseSection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Des_reponse</th>
                <th>Is_true</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_section in reponse_sections %}
            <tr>
                <td>{{ reponse_section.id }}</td>
                <td>{{ reponse_section.desReponse }}</td>
                <td>{{ reponse_section.isTrue ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_reponse_section_show', {'id': reponse_section.id}) }}">show</a>
                    <a href="{{ path('app_reponse_section_edit', {'id': reponse_section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_section_new') }}">Create new</a>
{% endblock %}
