{% extends 'base.html.twig' %}

{% block title %}ImmobilisationPermission index{% endblock %}

{% block body %}
    <h1>ImmobilisationPermission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for immobilisation_permission in immobilisation_permissions %}
            <tr>
                <td>{{ immobilisation_permission.id }}</td>
                <td>{{ immobilisation_permission.dateDebut ? immobilisation_permission.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ immobilisation_permission.dateFin ? immobilisation_permission.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ immobilisation_permission.etat }}</td>
                <td>
                    <a href="{{ path('app_immobilisation_permission_show', {'id': immobilisation_permission.id}) }}">show</a>
                    <a href="{{ path('app_immobilisation_permission_edit', {'id': immobilisation_permission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_immobilisation_permission_new') }}">Create new</a>
{% endblock %}
