{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_service</th>
                <th>Des_service</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.getId() }}</td>
                <td>{{ service.getDesService() }}</td>
                <td>
                    <a href="{{ path('app_service_show', {'id_service': service.getId()}) }}">show</a>
                    <a href="{{ path('app_service_edit', {'id_service': service.getId()}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}">Create new</a>
{% endblock %}
