{% include 'header_client_template.html.twig' %}

{% block title %}Demande de 'heure suplementaire{% endblock %}
<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header">
    <center><h1 style="font-family: Times New Roman">Liste des demandes d'heure suplementaire</h1></center>
</div>

{% block body %}
<div class="card-body">
<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4>
<div class="row">
<div class="col-sm-12">

    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
        <thead>
            <tr>
                <th>Nom et prenom(s)</th>
                <th>Date de l'heure sup</th>
                <th>Duree</th>
                <th colspan="2" style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for heuresup in heuresups %}
            <tr>
                <td>{{ heuresup.getEmploye().getUtilisateur().getNomUtilisateur() }} {{ heuresup.getEmploye().getUtilisateur().getPrenomUtilisateur() }}</td>
                <td>{{ heuresup.getDate|date('Y-m-d') }}</td>
                <td>{{ heuresup.getDuree()|date('h:i') }}</td>
                <td>
                    <a href="{{ path('app_accepter_heure_sup', { 'id': heuresup.getId() }) }}">
                        <button type="button" class="btn btn-block bg-gradient-success"><ion-icon name="checkmark-sharp"></ion-icon></button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_refuser_heure_sup', { 'id': heuresup.getId() }) }}">
                        <button type="button" class="btn btn-block bg-gradient-danger"><ion-icon name="close-sharp"></ion-icon></button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" style="text-align:center">Il n'y a pas de demande d'heure supplementaire actuellement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_client_template.html.twig' %}
