{% extends 'base.html.twig' %}

{% block title %}HeureSuplementaire{% endblock %}

{% block body %}
    <h1>HeureSuplementaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ heure_suplementaire.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ heure_suplementaire.date ? heure_suplementaire.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ heure_suplementaire.duree ? heure_suplementaire.duree|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ heure_suplementaire.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_heure_suplementaire_index') }}">back to list</a>

    <a href="{{ path('app_heure_suplementaire_edit', {'id': heure_suplementaire.id}) }}">edit</a>

    {{ include('heure_suplementaire/_delete_form.html.twig') }}
{% endblock %}
