{% include 'header_template.html.twig' %}
{# {% block title %}Liste candidature pour le pose de {{ cvRequirement.getPosteDescription() }} {% endblock %} #}


<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">

<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des candidats pour le poste</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Utilisateur</th>
                      <th>Note</th>
                      <th colspan="2" style="text-align:center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cv_candidat in cvCandidats %}
                    <tr>
                      <td>{{ cv_candidat.getUtilisateur().getNomUtilisateur() }}</td>
                      <td>{{ cv_candidat.getNote() }}</td>
                      <td><a href="{{ path('app_c_v_candidat_by_candidat', {'idcandidat': cv_candidat.getUtilisateur().getId()}) }}"><button type="button" class="btn btn-block btn-outline-info btn-sm">Consulter CV</button></a></td>
                      <td><a href="{{ path('app_employe_new', {'idcandidat': cv_candidat.getUtilisateur().getId()}) }}"><button type="button" class="btn btn-block btn-outline-success btn-sm">Embaucher</button></a></td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
