{% include 'header_template.html.twig' %}

<div class="content-wrapper" style="min-height : 1345.6px">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title"> Generer test d'aptitude </h3>
                        </div>
                        <div class="card-body">

                        {% block body %}

                        {{ form_start(form) }}

                                <div id="sections">
                                    <div class="row">
                                    {% for section in form.sections %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label> Question </label>
                                                <input type="text" class="form-control" name="{{ field_name(section.des_question) }}">
                                            </div>
                                            <div class="form-group">
                                                <label> Coefficient section </label>
                                                <input type="number" class="form-control" name="{{ field_name(section.coef_section) }}">
                                            </div>
                                            {# {{ form_row(section.des_question) }}
                                            {{ form_row(section.coef_section) }} #}
                                        </div>
                                                {% for reponse in section.reponseSections %}
                                            <div class="reponse-sections">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label> Reponse </label>
                                                        <input type="text" class="form-control" name="{{ field_name(reponse.des_reponse) }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Est vrai </label>
                                                        <input type="checkbox" class="form-control" name="{{ field_name(reponse.is_true) }}">
                                                    </div>
                                                    {# {{ form_row(reponse.des_reponse) }}
                                                    {{ form_row(reponse.is_true) }} #}
                                                </div>
                                            </div>
                                            {% endfor %}
                                    {% endfor %}
                                    </div>
                                </div>

                            <input type="hidden" name="{{ field_name(form.cv_requirements) }}" value="{{ cv_requirements.getId() }}" />

                            <button type="button" id="add-section">Add Section</button>
                            <button type="submit" id="save-section">Save</button>

                        {{ form_end(form) }}

                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="{{ asset('dist/js/jquery.js') }}"></script>
<script>

    {# document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.getElementById('add-section');

    addButton.addEventListener('click', function() {
        const sectionsContainer = document.getElementById('sections');
        const sectionIndex = sectionsContainer.children.length;
        const newSection = document.createElement('div');
        newSection.classList.add('section-form');
        newSection.innerHTML = `
            <label for="test_aptitude_sections_${sectionIndex}_des_question" class="required">Des question</label>
            <textarea id="test_aptitude_sections_${sectionIndex}_des_question" name="test_aptitude[sections][${sectionIndex}][des_question]" required="required"></textarea>
            <label for="test_aptitude_sections_${sectionIndex}_coef_section" class="required">Coef section</label>
            <input type="number" id="test_aptitude_sections_${sectionIndex}_coef_section" name="test_aptitude[sections][${sectionIndex}][coef_section]" required="required">
            <ul class="response-sections"></ul>
        `;

        sectionsContainer.appendChild(newSection);

        // Add response section button and handler
        const addResponseButton = document.createElement('button');
        addResponseButton.type = 'button';
        addResponseButton.classList.add('add-response');
        addResponseButton.textContent = 'Add a Response Section';
        newSection.appendChild(addResponseButton);

        addResponseButton.addEventListener('click', function() {
            const responseSectionsContainer = newSection.querySelector('.response-sections');
            const responseSectionIndex = responseSectionsContainer.children.length;
            const newResponseSection = document.createElement('li');
            newResponseSection.innerHTML = `
                <div id="test_aptitude_sections_${sectionIndex}_reponseSections_${responseSectionIndex}">
                    <label for="test_aptitude_sections_${sectionIndex}_reponseSections_${responseSectionIndex}_des_reponse" class="required">Reponse</label>
                    <textarea id="test_aptitude_sections_${sectionIndex}_reponseSections_${responseSectionIndex}_des_reponse" name="test_aptitude[sections][${sectionIndex}][reponseSections][${responseSectionIndex}][des_reponse]" required="required"></textarea>
                    <label for="test_aptitude_sections_${sectionIndex}_reponseSections_${responseSectionIndex}_is_true" class="required">Is true</label>
                    <input type="radio" id="test_aptitude_sections_${sectionIndex}_reponseSections_${responseSectionIndex}_is_true" name="test_aptitude[sections][${sectionIndex}][reponseSections][${responseSectionIndex}][is_true]" required="required" value="1">
                </div>
            `;

            responseSectionsContainer.appendChild(newResponseSection);
        });
    });
}); #}


document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.getElementById('add-section');

    addButton.addEventListener('click', function() {
        const sectionsContainer = document.getElementById('sections');
        const sectionIndex = sectionsContainer.children.length;

        // Create a new section container
        const newSectionContainer = document.createElement('div');
        newSectionContainer.classList.add('row');

        // Add new section HTML
        newSectionContainer.innerHTML = `
            <div class="col-sm-6">
                <div class="form-group">
                    <label> Question </label>
                    <input type="text" class="form-control" name="test_aptitude[sections][${sectionIndex}][des_question]">
                </div>
                <div class="form-group">
                    <label> Coefficient section </label>
                    <input type="number" class="form-control" name="test_aptitude[sections][${sectionIndex}][coef_section]">
                </div>
            </div>
            <div class="reponse-sections"></div>
        `;

        // Append the new section container
        sectionsContainer.appendChild(newSectionContainer);

        // Add response section button and handler
        const addResponseButton = document.createElement('button');
        addResponseButton.type = 'button';
        addResponseButton.classList.add('add-response');
        addResponseButton.textContent = 'Add a Response Section';

        newSectionContainer.appendChild(addResponseButton);

        addResponseButton.addEventListener('click', function() {
            const responseSectionsContainer = newSectionContainer.querySelector('.reponse-sections');
            const responseSectionIndex = responseSectionsContainer.children.length;

            const newResponseSection = document.createElement('div');
            newResponseSection.classList.add('col-sm-12');

            newResponseSection.innerHTML = `
                <div class="form-group">
                    <label> Reponse </label>
                    <input type="text" class="form-control" name="test_aptitude[sections][${sectionIndex}][reponseSections][${responseSectionIndex}][des_reponse]">
                </div>
                <div class="form-group">
                    <label> Est vrai </label>
                    <input type="checkbox" class="form-control" name="test_aptitude[sections][${sectionIndex}][reponseSections][${responseSectionIndex}][is_true]">
                </div>
            `;

            responseSectionsContainer.appendChild(newResponseSection);
        });
    });
});



</script>

{% include 'footer_template.html.twig' %}