{% extends 'base.html.twig' %}

{% block title %}Diplome index{% endblock %}

{% block body %}
    <h1>Diplome index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_diplome</th>
                <th>Des_diplome</th>
                <th>Niv_diplome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.idDiplome }}</td>
                <td>{{ diplome.desDiplome }}</td>
                <td>{{ diplome.nivDiplome }}</td>
                <td>
                    <a href="{{ path('app_diplome_show', {'id_diplome': diplome.id_diplome}) }}">show</a>
                    <a href="{{ path('app_diplome_edit', {'id_diplome': diplome.id_diplome}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diplome_new') }}">Create new</a>
{% endblock %}
