{% include 'header_template.html.twig' %}

{% block title %}Service index{% endblock %}
<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-">
<div class="card">
<div class="card-header">
    <h1>Liste des diplomes</h1>
</div>
{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Des_diplome</th>
                <th>Niv_diplome</th>
                <th colspan="2" style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.getDesDiplome() }}</td>
                <td>{{ diplome.getNivDiplome() }}</td>
                <td>
                    <a href="{{ path('app_diplome_show', {'id_diplome': diplome.getId()}) }}"><button class="btn btn-success"><i class="nav-icon fas fa-file"></i></button></a>
                </td>
                <td>
                    <a href="{{ path('app_diplome_edit', {'id_diplome': diplome.getId()}) }}"><button class="btn btn-warning"><i class="nav-icon fas fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diplome_new') }}"><button class="btn btn-info">Create new</button></a>
{% endblock %}
</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
