{% include 'header_template.html.twig' %}

{% block title %}Diplome{% endblock %}

<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-">
<div class="card">
<div class="card-header">
    <h1>Service</h1>
</div>
    <h1>Diplome</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id_diplome</th>
                <td>{{ diplome.getId() }}</td>
            </tr>
            <tr>
                <th>Des_diplome</th>
                <td>{{ diplome.getDesDiplome() }}</td>
            </tr>
            <tr>
                <th>Niv_diplome</th>
                <td>{{ diplome.getNivDiplome() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_diplome_index') }}">back to list</a>

    <a href="{{ path('app_diplome_edit', {'id_diplome': diplome.getId()}) }}">edit</a>

    {{ include('diplome/_delete_form.html.twig') }}
{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
