{% include 'header_template.html.twig' %}

<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> Adresse </h3>
        </div>
        <div class="card-body">

            {% block body %}

            {{ form_start(form) }}

            <div class="row">

                <div class="form-group">
                    <label> Designation adresse </label>
                    <input type="text" class="form-control" name="{{ field_name(form.des_adresse) }}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label> Niveau adresse </label>
                    <input type="text" class="form-control" name="{{ field_name(form.niv_adresse) }}">
                </div>
            </div>

                {# {{ form_widget(form) }} #}
            <div class="row">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>

                {{ form_end(form) }}

                {% endblock %}
        </div>

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
