{% include 'header_achat.html.twig' %}

{% block title %}Article founisseur{% endblock %}
<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<div class="card">
<div class="card-header">
    <h1>Liste des articles des fournisseurs</h1>
</div>
{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Designation fournisseur</th>
                <th>Designation de l'article</th>
                <th>Prix actuel</th>
                <th colspan="2" style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_fournisseur in article_fournisseurs %}
            <tr>
                <td>{{ article_fournisseur.getFournisseur().getDesFournisseur() }}</td>
                <td>{{ article_fournisseur.getArticle().getDesArticle() }}</td>
                <td>{{ article_fournisseur.getPrixActuel() }}</td>
                <td style="text-align:center">
                    <a href="{{ path('app_article_fournisseur_show', {'id': article_fournisseur.getId()}) }}"><button class="btn btn-success"><i class="nav-icon fas fa-file"></i></button></a>
                </td>
                <td style="text-align:center">
                    <a href="{{ path('app_article_fournisseur_edit', {'id': article_fournisseur.getId()}) }}"><button class="btn btn-warning"><i class="nav-icon fas fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_fournisseur_new') }}"><button class="btn btn-primary">Create new</button></a>
{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
