{% extends 'base.html.twig' %}

{% block title %}ArticleFournisseur index{% endblock %}

{% block body %}
    <h1>ArticleFournisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix_actuel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_fournisseur in article_fournisseurs %}
            <tr>
                <td>{{ article_fournisseur.id }}</td>
                <td>{{ article_fournisseur.prixActuel }}</td>
                <td>
                    <a href="{{ path('app_article_fournisseur_show', {'id': article_fournisseur.id}) }}">show</a>
                    <a href="{{ path('app_article_fournisseur_edit', {'id': article_fournisseur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_fournisseur_new') }}">Create new</a>
{% endblock %}
