{% include 'header_achat.html.twig' %}

<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> Fournisseur </h3>
        </div>
        <div class="card-body">

            {% block body %}

            {{ form_start(form) }}

            <div class="row">

                <div class="form-group">
                    <label> Designation du fournisseur </label>
                    <input type="text" class="form-control" name="{{ field_name(form.des_fournisseur) }}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label> Mode de paiment </label>
                            <select name="{{ field_name(form.mode_paiment) }}" class="form-control">
                            {% for label, value in field_choices(form.mode_paiment) %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                <a href="{{ path('app_fournisseur_index') }}"><button class="btn btn-info">Voir</button></a>
            </div>

                {{ form_end(form) }}

                {% endblock %}
        </div>

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
