{% include 'header_achat.html.twig' %}

<style>
    #details{
        display: none;
    }
    #details.show{
        display: table;
    }
</style>

{% block title %}Fournisseur{% endblock %}
<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<div class="card">
<div class="card-header">
    <h1>Liste bon commande envoyées</h1>
</div>
{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bon Commande</th>
                <th>Fournisseur</th>
                <th>Date d'envoie</th>
                <th>Date de livraison</th>
                <th>Details</th>
                <th>Traiter</th>

                {# <th colspan="3" style="text-align:center">Actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for bonCommande in bonCommandes %}
            <tr>
                <td>{{ bonCommande.getId() }}</td>
                <td>{{ bonCommande.getFournisseur().getDesFournisseur() }}</td>
                <td>{{ bonCommande.getDateEnvoi()|date('Y-m-d')  }}</td>
                <td>{{ bonCommande.getDateLivraison()|date('Y-m-d')  }}</td>
                <td style="text-align:center">
                    <button id="showDetails" class="btn btn-info">Detail</button>
                    <table class="table" id="details">
                        <thead>
                            <tr>
                                <th>Article</th>
                                <th>Prix unitaire</th>
                                <th>Quantite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in bonCommande.getBonCommandeDetails() %}
                            <tr>
                                <td>{{ detail.getProformatArticle().getDemande().getArticle().getDesArticle() }}</td>
                                <td>{{ detail.getPrixActuel() }}</td>
                                <td>{{ detail.getProformatArticle().getDemande().getQuantiteTotal() }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td style="text-align:center">
                    <a href="{{ path('app_bon_commande_livrer', {'id': bonCommande.getId()}) }}"><button class="btn btn-success">Livree</button></a>
                </td>
            </td>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>
<script>
    document.getElementById('showDetails').addEventListener('click', function() {
        var detailsTable = document.getElementById('details');
        detailsTable.classList.toggle('show');
    });
</script>

{% include 'footer_template.html.twig' %}
