{% include 'header_achat.html.twig' %}

{% block title %}Demandes non traites{% endblock %}

<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<div class="card">
<div class="card-header">
    <h1>Details commandes de l'article</h1>
        <h2> {{ demandesDepartements[0].getArticle().getDesArticle()}}
</div>

{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Departement</th>
                <th>Quantite</th>
                {# <th colspan="3" style="text-align:center">Actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for demandeDepartement in demandesDepartements %}
            <tr>
                <td>{{ demandeDepartement.getService().getDesService() }}</td>
                <td>{{ demandeDepartement.getQuantite() }}</td>
                {# <td style="text-align:center">
                    <a href="{{ path('app_demande_departement_detail', {'id': demande.article.getId() }) }}"><button class="btn btn-info">Details</button></a>
                </td>
                <td style="text-align:center">
                     <a href="{{ path('app_demande_traiter', {'id':  demande.article.getId() }) }}"><button class="btn btn-info">Traiter</button></a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de resultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
         <a href="{{ path('app_demande_index') }}"><button class="btn btn-info">Retour</button></a>
{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}