
{% block title %}Domaine{% endblock %}
<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-">
<div class="card">
<div class="card-header">
    <h1>Liste des experiences</h1>
</div>

{% block body %}
    <center><h1>Experience</h1></center>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ experience.getId() }}</td>
            </tr>
            <tr>
                <th>Des_xp</th>
                <td>{{ experience.getDesXp() }}</td>
            </tr>
            <tr>
                <th>Niv_xp</th>
                <td>{{ experience.getNivXp() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_experience_index') }}">back to list</a>

    <a href="{{ path('app_experience_edit', {'id': experience.getId()}) }}">edit</a>

    {{ include('experience/_delete_form.html.twig') }}
{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
