{% include 'header_client_template.html.twig' %}

<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-5">
<div class="card card-success">
        <div class="card-header">
            <h3 class="card-title"> <strong>Nouvel employe(e) </strong></h3>
        </div>
        <div class="card-body">

            {% block body %}

            {{ form_start(form) }}

            <div class="row">

                <div class="form-group" style="font-size: 110%">
                    {{ form_row(form.date_embauche) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="font-size: 110%">
                    {{ form_row(form.cnaps) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="font-size: 110%">
                    {{ form_row(form.osti) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="font-size: 110%">
                    {{ form_row(form.salaire) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="font-size: 110%">
                    {{ form_row(form.service) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="font-size: 110%">
                    {{ form_row(form.poste) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="font-size: 110%">
                    {{ form_row(form.statut) }}
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>

                {{ form_end(form) }}

                {% endblock %}
        </div>

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_client_template.html.twig' %}