{% include 'header_template.html.twig' %}

{% block title %}Employes{% endblock %}
<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<div class="card">
<div class="card-header">
    <center><h1 style="font-family: Times New Roman">Liste des employes</h1></center>
</div>

{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom et prenom(s)</th>
                <th>Date_embauche</th>
                <th>Superieur</th>
                <th>Cnaps</th>
                <th>Osti</th>
                <th colspan="2" style="text-align:center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for employe in employes %}
            <tr>
                <td>{{ employe.getUtilisateur().getNomUtilisateur() }} {{ employe.getUtilisateur().getPrenomUtilisateur() }}</td>
                <td>{{ employe.dateEmbauche ? employe.dateEmbauche|date('Y-m-d') : '' }}</td>
                <td>{{ managers[i] }}</td>
                <td>{{ employe.cnaps ? 'Oui' : 'Non' }}</td>
                <td>{{ employe.osti ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_employe_fiche', {'id': employe.id}) }}">fiche de paie</a>
                </td>
                <td>
                    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}">edit</a>
                </td>
            </tr>
            {% set i = i+1 %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}
