<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Bon Commande</title>
</head>
<body>
    <div style="display: block;width: 700px;">
        <div style= "width: 250px;" >
            Fournisseur: <strong>{{ bonCommande.getFournisseur().getDesFournisseur() }}</strong>
            </br><hr>
            Date envoie: {{bonCommande.getDateEnvoi()|date('Y-m-d') }}
            </br><hr>
             Date de livraison: {{bonCommande.getDateLivraison()|date('Y-m-d') }}
            </br><hr>
            Mode de paiement : {{ bonCommande.getFournisseur().getModePaiment().getDesModepaiment }}
            </br><hr>
    </div><br>
    <div>
        <table width="100%">
            <tr>
                <th>Article</th>
                <th>PU</th>
                <th>Quantite</th>
                <th>Montant</th>
            </tr>
            {% for bonCommandeD in bonCommande.getBonCommandeDetails() %}
                <tr>
                    <td>{{ bonCommandeD.getProformatArticle().getDemande().getArticle().getDesArticle() }}</td> 
                    <td style="text-align:right">{{ bonCommandeD.getPrixActuel() }} MGA</td> 
                    <td style="text-align:right"> {{ bonCommandeD.getProformatArticle().getDemande().getQuantiteTotal() }} </td> 
                    <td style="text-align:right"> {{ bonCommandeD.montantTotal|number_format(2,'.',' ') }} MGA</td> 
                </tr>
            {% endfor %}
        </table><br>
    </div>
        <hr>

        <div style="float:right"> {{bonCommande.getMontantTotalHT|number_format(2,'.',' ') }} MGA</div>
        <div style="text-align:left">Total HT</div><br>

        <div style="float:right"> {{bonCommande.getMontantTotalTVA|number_format(2,'.',' ') }} MGA</div>
        <div style="text-align:left">Total TVA 20 %</div>

        <hr>
        <br>

        <div style="float:right"> <strong>{{bonCommande.getMontantTotal|number_format(2,'.',' ') }} MGA</strong></div>
        <div style="text-align:left"><strong>Total TTC</strong></div>

</body>
</html>


